<section class="navbar-container container">
  <nav>
    <ul class="navbar-list">
      <li>
        <a href="/index.html" class="link" data-page="home">
          <img src="./assets/icons/home.svg" alt="home" />
        </a>
      </li>
      <li>
        <a href="/transaction.html" class="link" data-page="transaction">
          <img src="./assets/icons/tiime.svg" alt="transaction" />
        </a>
      </li>
      <li class="link-bank"><a href="/exchange.html">Банк</a></li>
      <li>
        <a href="/refferal.html" class="link" data-page="circle">
          <img src="./assets/icons/refferals.svg" alt="circle" />
        </a>
      </li>
      <li>
        <a href="/profile.html" class="link" data-page="main">
          <img src="./assets/icons/main.svg" alt="main" />
        </a>
      </li>
    </ul>
  </nav>
</section>
