<section class="navbar-container">
  <nav>
    <ul class="navbar-list">
      <li>
        <button>
          <img src="./assets/icons/home.svg" alt="home" />
        </button>
      </li>
      <li>
        <button>
          <img src="./assets/icons/tiime.svg" alt="tiime" />
        </button>
      </li>
      <li class="navbar-bank">Банк</li>
      <li>
        <button class="navbar-circle">
          <img src="./assets/icons/circle.svg" alt="circle" />
        </button>
      </li>
      <li>
        <button>
          <img src="./assets/icons/main.svg" alt="main" />
        </button>
      </li>
    </ul>
  </nav>
</section>
