<section class="navbar-container">
  <nav>
    <ul class="navbar-list">
      <li>
        <a href="/index.html" class="link" data-page="home">
          <img src="./assets/icons/home.svg" alt="home" />
        </a>
      </li>
      <li>
        <a href="" class="link" data-page="history">
          <img src="./assets/icons/tiime.svg" alt="tiime" />
        </a>
      </li>
      <li class="link-bank">Банк</li>
      <li>
        <a href="/refferal.html" class="link link-active" data-page="circle">
          <img src="./assets/icons/circle.svg" alt="circle" />
        </a>
      </li>
      <li>
        <a href="" class="link" data-page="main">
          <img src="./assets/icons/main.svg" alt="main" />
        </a>
      </li>
    </ul>
  </nav>
</section>
